streamlit
python-dotenv
pypdf
python-docx
python-pptx
EbookLib
pillow
assemblyai
youtube-transcript-api
pytube
bs4
pandas
numpy
pandasai
seaborn
langchain
langchain-cohere
langchain_google_genai
langchain-groq
langchain-openai
faiss-cpu